*/*
!.config/*
.config/chromium/
.config/fcitx/*
!.config/fcitx/conf/fcitx-classic-ui.config
!.config/fcitx/conf/fcitx-clipboard.config
!.config/fcitx/conf/fcitx-quickphrase.config
!.config/fcitx/config
!.config/fcitx/profile
.config/git/config.local
.config/gtk-2.0/gtkfilechooser.ini
.config/pulse/
.config/weechat/*
!.config/weechat/buffers.conf
!.config/weechat/irc.conf
!.config/weechat/weechat.conf
.config/zsh/.zcompdump
.config/zsh/.zcompdump.zwc
.config/zsh/.zhistory
.config/zsh/.zprezto/
.config/lockscreen
.config/wallpaper
